body {
  padding: 10px;
}

#carousel {
  display: flex;
  justify-content: center;
}

#carousel-nav-container {
  position: absolute;
  width: 100px;
  height: 24px;
  top: 455px;
  display: flex;
}

#carousel-nav-container label {
  margin: 5px;
}

.manual-btn {
  border: 2px solid #d04500;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.manual-btn:hover {
  background-color: #d04500;
}

input[type="radio"] {
  display: none;
}

.background {
  background-color: black;
  width: 720px;
  height: 484px;
  border: 2px solid black;
  border-radius: 10px;
}

.content {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 1024px;
  height: 768px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.slide img {
  border: 2px solid transparent;
  border-radius: 10px;
  border-color: white;
}