body {
  padding: 10px;
  background-color: azure;
}

#carousel {
  display: flex;
  justify-content: center;
}

#carousel-nav-container {
  position: absolute;
  width: 100px;
  height: 24px;
  top: 455px;
  display: flex;
}

#carousel-nav-container label {
  margin: 5px;
}

#rl1 {
  background-color: #d04500;
}

.manual-btn {
  border: 2px solid #d04500;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.manual-btn:hover {
  background-color: #d04500;
}

input[type="radio"] {
  display: none;
}

.content {
  display: flex;
  overflow: hidden;
}

#carousel_image {
  width: 720px;
  height: 484px;
  background-image: url("image-bike-repair-service-b.jpg");
  background-size:cover;
  transition: background-image 1s;
}

/* .slide {
  width: 720px;
  height: 484px;
  border: 2px solid transparent;
  border-radius: 10px;
} */

.slide img {
  border-color: white;
  width: 720px;
  height: 484px;
}